In [1]:
print('나비')
print("z"*9)

나비
zzzzzzzzz

In [6]:
print(5>10)
print(5<10)
print(True)
print(not True)  ## true 의 반대
print(not 5>10)

False
True
True
False
True

## 변수

In [7]:

animal = "강아지"
name = "연탄이"
age=4
hobby ="산책"
is_adult=age >= 3

In [8]:
print("우리집"+animal+"의 이름은"+ name +"예요")

우리집강아지의 이름은연탄이예요

In [16]:
print(name,"는",age,"살이며,",hobby,"을 아주 좋아해요")

연탄이 는 4 살이며, 산책 을 아주 좋아해요

In [19]:
station = "인천공항"
print(station+"행 열차가 들어오고 있습니다")

인천공항행 열차가 들어오고 있습니다

# 연산자

In [21]:
print(1+1)

2

In [22]:
print(3-1)

2

In [23]:
print(5*2)

10

In [24]:
print(6/3)

2.0

In [25]:
print(2**3) # 2^3

8

In [27]:
print(5%3)  #나머지 구하기
print(5//3) #몫

2
1

In [28]:
print(10>3)

True

In [29]:
print(4>=7)

False

In [30]:
print(5<=5)

True

In [32]:
print(3==3) #3은 3과 똑같다

True

In [33]:
print(4==2) # 다르다 false

False

In [34]:
print(1!=3)  #1과 3은 같지않다.

True

In [36]:
print(not(1 !=3)) # 1과 3은 다르므로 True, not True => False

False

In [37]:
print((3>0) and (3<5))

True

In [38]:
print((3>0) or (3<5))

True

# 수식

In [39]:
print(2+3*4)

14

In [49]:
number = 2+3+4

In [50]:
print(number)

9

In [51]:
number +=2
print(number)

11

In [52]:
number*=2
print(number)

22

In [53]:
number -=2
print(number)

20

In [54]:
number %=2
print (number)

0

# 숫자처리 함수

In [55]:
print(abs(-5))

5

In [56]:
print(pow(4,2)) #4^2=16

16

In [57]:
from math import *
print(floor(4.9)) # 내림
print(ceil(3.14)) # 올림
print(sqrt(16)) #제곱근

4
4
4.0

#  랜덤함수

In [58]:
from random import *

In [59]:
print(random())

0.08269829355914016

In [60]:
print(random())

0.9350402039022355

In [61]:
print(random())

0.4025800216069486

In [63]:
print(random()*10) # 0~10 사이의 난수 발생

2.8986204508698457

In [64]:
print(int(random()*10)) # 난수를 정수로 만들고 싶을 때

2

In [75]:
print(int(random()*10)+1)
print(int(random()*10)+1)
print(int(random()*10)+1)
print(int(random()*10)+1)
print(int(random()*10)+1)
print(int(random()*10)+1)
print(int(random()*10)+1)
print(int(random()*10)+1)
print(int(random()*10)+1)

6
9
1
9
2
8
9
4
4

In [68]:
print(randrange(1,46))
print(randrange(1,46))
print(randrange(1,46))
print(randrange(1,46))
print(randrange(1,46))
print(randrange(1,46))
print(randrange(1,46))
print(randrange(1,46))

24
40
44
14
15
41
1
34

In [77]:
print(randint(1,45))
print(randint(1,45))
print(randint(1,45))
print(randint(1,45))
print(randint(1,45))
print(randint(1,45))

31
13
38
28
28
38

In [85]:
from random import *
study_date=randrange(4,29)

In [86]:
print("오프라인 스터디 모임 날짜는 매월"+str(study_date)+"일로 선정되었습니다")

오프라인 스터디 모임 날짜는 매월10일로 선정되었습니다

# 문자열

In [88]:
sentence = "나는 소녀입니다"
print(sentence)

나는 소녀입니다

In [91]:
sentense2 ="파이썬은 쉬워요"
print(sentense2)

파이썬은 쉬워요

In [92]:
sentense3 ="""나는 소년이고, 파이썬은 쉬워요"""
print(sentense3)

나는 소년이고, 파이썬은 쉬워요

# 슬라이싱

In [93]:
jumin ="990120-1234567"

In [95]:
print("설명:"+jumin[7])

설명:1

In [96]:
print("연:" + jumin[0:2]) #0 부터 2직전까지
print("월:" + jumin[2:4]) #0 부터 4직전까지
print("일:" + jumin[4:6]) #0 부터 6직전까지

연:99
월:01
일:20

In [100]:
print("생년월일:" + jumin[0:6] ) # 처음부터 6직전까지
print("생년월일:" + jumin[:6] ) # 처음부터 6직전까지 (이렇게 사용해도 됨)

생년월일:990120
생년월일:990120

In [101]:
print("뒤 7자리:"+ jumin[7:]) #7부터 끝까지

뒤 7자리:1234567

In [102]:
print("뒤 7자리(뒤에서  부터:"+ jumin[-7:])

뒤 7자리(뒤에서  부터:1234567

# 문자열 처리 함수

python = "python is Amazing"

In [3]:
print(python.lower())
print(python.upper())

python is amazing
PYTHON IS AMAZING

In [4]:
print(python[0].isupper())

False

In [9]:
print(len(python))
print(python.replace("Python","Java"))

17
python is Amazing

In [11]:
index = python.index("n")
print(index)

5

In [12]:
index = python.index("n",index+1)
print(index)       # python = "python is Amazing" 이므로 index +1은  두번째 n을 찾는다

15

In [13]:
print(python.find("Java"))   #없으면 -1 출력

-1

In [18]:
print(python.index("JAVA")) #index함수를 사용할 경우 에러가 발생

10

In [19]:
print(python.index("is"))  #문자열에서 인덱스 함수를 사용할 경우, 첫 글자의 인덱스 위치를  반환

7

In [24]:
print(python.count("n"))

2

# 문자열 포맷

In [25]:
print("a"+"b")
print("a","b")

ab
a b

In [26]:
print("나는 %d살입니다." %36)

나는 36살입니다.

In [30]:
print("나는 %s을 좋아해요." %"배드민턴")

나는 배드민턴을 좋아해요.

In [31]:
print("나는 %s살입니다." %36)

나는 36살입니다.

In [32]:
print("나는 %s색과 %s색을 좋아해요." %("파란","빨간"))

나는 파란색과 빨간색을 좋아해요.

In [33]:
print("나는 {}살입니다".format(20))

나는 20살입니다

In [38]:
print("나는 {}색과 {}색을 좋아해요.".format("파란","빨간"))

나는 파란색과 빨간색을 좋아해요.

In [40]:
print("나는 {1}색과 {0}색을 좋아해요.".format("파란","빨간"))  #변수 index를 순서를 바꿔서 입력가능

나는 빨간색과 파란색을 좋아해요.

In [41]:
print("나는 {age}살이며, {color}색을 좋아해요.".format(age=20,color="빨간")) #내가 정의한 변수로 입력가능

나는 20살이며, 빨간색을 좋아해요.

# 탈출문자

In [43]:
print("백문이 불여일견 
      백견이 불여일타")

SyntaxError: EOL while scanning string literal (<ipython-input-43-1622fb00f1a0>, line 1)

In [45]:
print("백문이 불여일견 \n백견이 불여일타")

백문이 불여일견
백견이 불여일타

In [46]:
print("저는 "나도코딩" 입니다.")

SyntaxError: invalid syntax (<ipython-input-46-d9b09559ca95>, line 1)

In [47]:
print('저는 "나도코딩" 입니다')

저는 "나도코딩" 입니다

In [49]:
print("저는 \"나도코딩\"입니다.")   # \" \'  는 문장내에서 따옴표로 가능

저는 "나도코딩"입니다.

In [51]:
print("red Apple\rPine") #\r을 만나면 맨앞으로 이동

Pine

In [53]:
print("Redd\bApple") #\b를 만나면 삭제

ReddApple

# 퀴즈

In [56]:
site_add="http://naver.com"
print(site_add)

http://naver.com

In [65]:
# http:// 부분을 제외 # => naver.com
print(site_add.index("//"))
pwd=site_add[site_add.index("//")+2:-4]
len(pwd)

5

5

In [76]:
print("생성된 비밀번호:"+' '+pwd[0:3]+str(len(pwd))+str(pwd.count('e'))+'!')

생성된 비밀번호: nav51!

In [73]:
pwd[0:3]

'nav'

# 리스트

In [78]:
#지하철 칸별로 10명, 20명 , 30명
subway = [10,20,30]
print(subway)

[10, 20, 30]

In [80]:
subway = ["유재석","조세호","박명수"]
print(subway)

['유재석', '조세호', '박명수']

In [81]:
print(subway.index("조세호"))

1

In [82]:
#append 하하탑승
subway.append("하하")

In [83]:
print(subway)

['유재석', '조세호', '박명수', '하하']

In [84]:
#정형돈 탑승 
subway.insert(1,"정형돈")
print(subway)

['유재석', '정형돈', '조세호', '박명수', '하하']

In [85]:
#꺼냄
print(subway.pop())
print(subway)

하하
['유재석', '정형돈', '조세호', '박명수']

In [86]:
print(subway.pop())
print(subway)

박명수
['유재석', '정형돈', '조세호']

In [87]:
print(subway.pop())
print(subway)

조세호
['유재석', '정형돈']

In [88]:
#같은사람 몇명인지 찾기
subway.append("유재석")

In [89]:
subway.count("유재석")

2

In [109]:
num_list =[5,2,4,3,1]
print(num_list)

[5, 2, 4, 3, 1]

In [118]:
num_list.sort()
print(num_list) # print(num_list.sort() 출력하면 none을 반환

[1, 2, 3, 4, 5]

In [119]:
#뒤집기 가능
num_list.reverse()
print(num_list)

[5, 4, 3, 2, 1]

In [120]:
#모두 지우기
num_list.clear()
print(num_list)

[]

In [125]:
#다양한 자료형과 함께 사용
mix_list = ['조세호',0,True] #True는 T를 대문자로 표기해야함 (에러 원인)
print(mix_list)

['조세호', 0, True]

# 사전

In [127]:
cabinet = {3:"유재석",100:"김태호"} #사전은 중괄호
print(cabinet[3])
print(cabinet[100])

유재석
김태호

In [128]:
print(cabinet.get(3))

유재석

In [130]:
print(cabinet[5])

KeyError: 5

In [132]:
print(cabinet.get(5))
print(cabinet.get(5,"사용가능"))

None
사용가능

In [134]:
print( 3 in cabinet)
print( 5 in cabinet)

True
False

In [136]:
#KEY값을 문자열도 가능
cabinet ={"A-3":"유재석","B-100":"김태호"}
print(cabinet["A-3"])
print(cabinet["B-100"])

유재석
김태호

In [140]:
#새손님
print(cabinet)
#cabinet["A-3"]
cabinet["c-20"]="조세호"  #없으면 넣고 있으면 업데이트 한다.
print(cabinet)

{'A-3': '유재석', 'B-100': '김태호', 'c-20': '조세호'}
{'A-3': '유재석', 'B-100': '김태호', 'c-20': '조세호'}

In [142]:
cabinet["A-3"]="김종국"

In [143]:
print(cabinet)

{'A-3': '김종국', 'B-100': '김태호', 'c-20': '조세호'}

In [144]:
# 김종국 캐비넷 비움
del cabinet["A-3"]

In [145]:
print(cabinet)

{'B-100': '김태호', 'c-20': '조세호'}

In [148]:

print(cabinet.keys()) #key들만 출력
print(cabinet.values()) #value만 출력
print(cabinet.items())

dict_keys(['B-100', 'c-20'])
dict_values(['김태호', '조세호'])
dict_items([('B-100', '김태호'), ('c-20', '조세호')])

In [149]:
#목욕탕 폐점
cabinet.clear()
print(cabinet)

{}

# 튜플

In [150]:
menu = ("돈까스","치즈까스")  #튜플은 ()로 만든다!!

In [151]:
print(menu[0])
print(menu[1])

돈까스
치즈까스

In [152]:
(name,age,hobby)=('조상원','37','배드민턴')

In [153]:
print(name,age,hobby)

조상원 37 배드민턴

# 집합(set) 중복안됨, 순서없음

In [156]:
my_set= {1,2,3,3,3} #사전과 같이 {}를 사용하지만 혼동하지 않도록 주의
print(my_set)  # 중복을 허용하지 않으므로 1,2,3 만들어가는 것을 볼 수 있다.

{1, 2, 3}

In [158]:
java = {"유재석","양세형","김태호"}
python = {"유재석","박명수"}
print (java &python)  #교집합
print (java.intersection(python))

{'유재석'}
{'유재석'}

In [160]:
print(java|python)
print(java.union(python))

{'양세형', '박명수', '김태호', '유재석'}
{'양세형', '박명수', '김태호', '유재석'}

In [162]:
#차집합
print(java-python)
print(java.difference(python))

{'김태호', '양세형'}
{'김태호', '양세형'}

In [163]:
# python을 할 줄 아는 사람이 늘어남
python.add("김태호")
print(python)

{'김태호', '박명수', '유재석'}

In [164]:
java.remove("김태호")

In [165]:
print(java)

{'양세형', '유재석'}

In [166]:
menu ={"커피","우유","주스"}
print(menu,type(menu))  #자료 구조변경이 가능하다.

{'주스', '커피', '우유'} <class 'set'>

In [167]:
menu=list(menu) #리스트로 변환

In [168]:
print(menu,type(menu))

['주스', '커피', '우유'] <class 'list'>

In [169]:
menu = tuple(menu)
print(menu,type(menu)) # 튜플로 변환

('주스', '커피', '우유') <class 'tuple'>

# 퀴즈

In [186]:
 #내가 푼 방법
from random import *
raffle = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(raffle)
shuffle(raffle)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [189]:
print(raffle)

[4, 16, 9, 18, 7, 3, 10, 15, 8, 20, 13, 14, 19, 11, 12, 2, 5, 6, 1, 17]

In [196]:
cong1=sample(raffle,1)

In [203]:
raffle.index(cong1)

ValueError: [4] is not in list

In [6]:
from random import *
users= range(1,21)  ## 1~20까지
print(users)

range(1, 21)

In [7]:
print(type(users))

<class 'range'>

In [8]:
users=list(users)
print(type(users))

<class 'list'>

In [9]:
print(users)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [10]:
shuffle(users)
print(users)

[6, 14, 9, 16, 20, 1, 17, 12, 7, 4, 2, 11, 19, 3, 13, 5, 8, 15, 18, 10]

In [209]:
winners=sample(users,4)

In [215]:
print("------당첨자-------")
print("치킨:{0}".format(winners[0]))
print("커피:{0}".format(winners[1:]))
print("-----축하합니다-----")

------당첨자-------
치킨:2
커피:[8, 15, 12]
-----축하합니다-----

# if

In [219]:
weather = input("오늘 날씨는 어때요?")
if weather == "비" or weather =="눈":
    print("우산을 챙기세요")
elif weather =="미세먼지":     #elif, else 표현유의
    print("마스크를 챙기세요")
else:   
    print("준비물 필요 없어요.")

오늘 날씨는 어때요?눈
우산을 챙기세요

In [220]:
temp= int(input("기온은 어때요?"))  #input 변수를 숫자로 받는 경우는 정수형타입이 필요하니까 int형으로 변경한다.
if 30<= temp:
    print("너무 더워요. 나가지 마세요")
elif 10<= temp and temp < 30:
    print("괜찮은 날씨에요.")
elif 0<= temp and temp <10 :
    print("외투를 챙기세요")
else:
    print("너무 추워요. 나가지마세요")

기온은 어때요?36
너무 더워요. 나가지 마세요

# 반복문

In [222]:
for waiting_no in range(5): # 0에서 부터 5미만까지
    print("대기번호: {0}".format(waiting_no))

대기번호: 0
대기번호: 1
대기번호: 2
대기번호: 3
대기번호: 4

In [223]:
starbucks= ["아이언맨","토르","그루트"]
for customer in starbucks:
    print("{0},커피가 준비되었습니다.".format(customer))

아이언맨,커피가 준비되었습니다.
토르,커피가 준비되었습니다.
그루트,커피가 준비되었습니다.

# while

In [225]:
customer ="토르"
index=5
while index>=1:
    print("{0}, 커피가 준비되었습니다.{1}번 남았어요".format(customer,index))
    index -=1    #index 빼고 더하기
    if index == 0:  
        print("커피는 폐기처분 되었습니다.")

토르, 커피가 준비되었습니다.5번 남았어요
토르, 커피가 준비되었습니다.4번 남았어요
토르, 커피가 준비되었습니다.3번 남았어요
토르, 커피가 준비되었습니다.2번 남았어요
토르, 커피가 준비되었습니다.1번 남았어요
커피는 폐기처분 되었습니다.

In [ ]:
customer ="아이언맨"
index =1
#while True:
    #print("{0}, 커피가 준비 되었습니다. 호출{1}회".format(customer,index)) #무한루프에 빠짐
   # index +=1

In [4]:
customer ="토르"
person   = "Unknown"

In [6]:
while person != customer :
    print("{0}, 커피가 준비되었습니다.".format(customer))
    person = input("이름이 어떻게 되세요?")

토르, 커피가 준비되었습니다.
이름이 어떻게 되세요?아이언맨
토르, 커피가 준비되었습니다.
이름이 어떻게 되세요?조상원
토르, 커피가 준비되었습니다.
이름이 어떻게 되세요?토르

# continue , break

In [11]:
absent= [2,5] #결석
no_book =[7] # 책을 깜빡함
for student in range(1,11):
    if student in absent:
        continue
    elif student in no_book:
        print("오늘 수업 여기까지.{0}는 교무실로 따라와.format(student)")
        break
    print("{0}, 책읽어".format(student))

1, 책읽어
3, 책읽어
4, 책읽어
6, 책읽어
오늘 수업 여기까지.{0}는 교무실로 따라와.format(student)

In [12]:
print(type(no_book))

<class 'list'>

# 한 줄 for문

In [15]:
students = [1,2,3,4,5]
students = [i+100 for i in students]
print(students)

[101, 102, 103, 104, 105]

In [17]:
students =["Iron man", "Thor", "I am groot"]
students = [len(i) for i in students] # students 리스트의 i 인덱스를 하나씩 넣어서 student 리스트 변형
print(students)

[8, 4, 10]

In [21]:
#학생 이름을 대문자로. 변환
students =["Iron man", "Thor", "I am groot"]
students = [i.upper() for i in students] 
print(students)

['IRON MAN', 'THOR', 'I AM GROOT']

# 퀴즈
##### 50명의 승객 매칭기회가 있을 때, 탑승승객수 구하기
##### 조건1: 5~50분 난수로 정해진다.
##### 조건2: 소요시간 5분 ~ 15분 승객 매칭

In [22]:
from random import *

In [11]:
customer =range(1,51)
customer = list(customer)
print(customer)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [43]:
match_time = randrange(5,51)
print(match_time)

33

In [14]:
time = randint(5,15)
print(time)
total = [i* randint(5,15) for i in customer]
print(total[0])

9
8

In [36]:
customer =range(1,51)
customer = list(customer)

time = randint(5,15)
print(time)
total = [randint(5,15) for i in customer] 
total2=0
match_time = randrange(5,51)
print("탑승총시간 {0}입니다".format(match_time))
for i in customer :
    total2 += total[i]
    if total2 > match_time:
        print("탑승시간 초과")
        print("이용탑승고객은 {0}명입니다.".format(customer[i]))
        break
    elif total2 < match_time:
        print("{0}명의 고객이 탑승하였습니다.".format(customer[i]))
        print("남은시간은 {0}입니다.".format(match_time-total2))
        continue

15
탑승총시간 25입니다
2명의 고객이 탑승하였습니다.
남은시간은 16입니다.
3명의 고객이 탑승하였습니다.
남은시간은 5입니다.
탑승시간 초과
이용탑승고객은 4명입니다.

In [40]:
#강사가 해결 방법
from random import *
cnt=0 #총 고객수
for i in range(1,51) :
    time = randrange(5,51)
    if 5<= time <= 15:
        print("[0] {0}번째 손님(소요시간:{1}분)".format(i,time))
        cnt+=1
    else: 
        print("[ ] {0}번째 손님(소요시간:{1}분)".format(i,time))
print("총 탑승승객:{0}".format(cnt))

[0] 1번째 손님(소요시간:10분)
[ ] 2번째 손님(소요시간:25분)
[ ] 3번째 손님(소요시간:27분)
[ ] 4번째 손님(소요시간:47분)
[ ] 5번째 손님(소요시간:43분)
[ ] 6번째 손님(소요시간:19분)
[0] 7번째 손님(소요시간:10분)
[ ] 8번째 손님(소요시간:17분)
[ ] 9번째 손님(소요시간:22분)
[0] 10번째 손님(소요시간:5분)
[ ] 11번째 손님(소요시간:30분)
[ ] 12번째 손님(소요시간:26분)
[ ] 13번째 손님(소요시간:30분)
[0] 14번째 손님(소요시간:5분)
[ ] 15번째 손님(소요시간:50분)
[ ] 16번째 손님(소요시간:24분)
[ ] 17번째 손님(소요시간:16분)
[ ] 18번째 손님(소요시간:27분)
[ ] 19번째 손님(소요시간:35분)
[0] 20번째 손님(소요시간:14분)
[ ] 21번째 손님(소요시간:48분)
[ ] 22번째 손님(소요시간:29분)
[0] 23번째 손님(소요시간:14분)
[ ] 24번째 손님(소요시간:21분)
[ ] 25번째 손님(소요시간:23분)
[ ] 26번째 손님(소요시간:44분)
[ ] 27번째 손님(소요시간:49분)
[ ] 28번째 손님(소요시간:40분)
[0] 29번째 손님(소요시간:12분)
[ ] 30번째 손님(소요시간:46분)
[ ] 31번째 손님(소요시간:46분)
[ ] 32번째 손님(소요시간:37분)
[0] 33번째 손님(소요시간:12분)
[ ] 34번째 손님(소요시간:49분)
[0] 35번째 손님(소요시간:8분)
[ ] 36번째 손님(소요시간:31분)
[ ] 37번째 손님(소요시간:25분)
[0] 38번째 손님(소요시간:8분)
[ ] 39번째 손님(소요시간:19분)
[0] 40번째 손님(소요시간:10분)
[ ] 41번째 손님(소요시간:40분)
[ ] 42번째 손님(소요시간:25분)
[0] 43번째 손님(소요시간:5분)
[ ] 44번째 손님(소요시간:36분)
[ ] 45번째 손님(소요시간:21분)
[0] 46번째 손님(소요시간:7분)
[ ] 47번째 손님(소요시간:26분)
[ ] 48번째 손님(소요시간:26분)
[ ] 49번째 손님(소요시간:34분)
[0] 50번째 손님(소요시간:11분)
총 탑승승객:14

# 함수

In [41]:
def open_account(): # 함수 정의 , 함수 정의만
    print("새로운 계좌가 생성되었습니다.")

In [42]:
open_account() # 함수 호출

새로운 계좌가 생성되었습니다.

# 전달값과 반환값

In [43]:
def deposit(balance, money):
    print("입금이 완료되었습니다. 잔액은 {0}원입니다.".format(balance+money))
    return balance+money

In [69]:
balance=0
balance= deposit(balance, 1000)
print(balance)

입금이 완료되었습니다. 잔액은 1000원입니다.
1000

In [49]:
def withdraw(balance,money): # 출금
    if balance >= money: #잔액이 출금보다 많으면
        print("출금이 완료되었습니다. 잔액은{0}원입니다.".format(balance -money))
        return balance - money
    else:
        print("잔액이 부족합니다. 출금되지 않았습니다. 잔액은{} 입니다.".format(balance))
        return balance

In [47]:
balance =withdraw(balance,2000)

잔액이 부족합니다. 출금되지 않았습니다. 잔액은1000 입니다.

In [50]:
balance =withdraw(balance,500)

출금이 완료되었습니다. 잔액은0원입니다.

In [54]:
def withdraw_night(balance,money):
    commission=100
    return commission, balance -money -commission   #튜플 형식으로 반환

In [71]:
balance = 0
print(balance)

0

In [72]:
balance=deposit(balance,1000)
print(balance-500-commission)
commission, balance = withdraw_night(balance,500)
print("수수료 {0}원이며, 잔액은 {1}원입니다.".format(commission,balance))

입금이 완료되었습니다. 잔액은 1000원입니다.
400
수수료 100원이며, 잔액은 400원입니다.

# 함수의 기본값

In [75]:
def profile(name,age=17,main_lang="파이썬"):
    print("이름: {0}\t나이: {1}\t주 사용 언어: {2}".format(name,age,main_lang))

In [77]:
profile("유재석")
profile("김태호")

이름: 유재석	나이: 17	주 사용 언어: 파이썬
이름: 김태호	나이: 17	주 사용 언어: 파이썬

# 키워드 값

In [1]:
def profile(name,age,main_lang):
    print(name,age,main_lang)

In [2]:
profile(name="유재석",main_lang="파이썬",age=20) # 키워드를 이용한다면 값이 매개변수 값의 순서가 바뀌어도 상관없다
profile(main_lang="자바",age=20,name="김태호")

유재석 20 파이썬
김태호 20 자바

# 다변인자

In [3]:
def profile(name,age,lang1,lang2,lang3,lang4,lang5):
    print("이름: {0}\t나이: {1}".format(name,age),end=" ") # end= " " 사용 하면 줄바꿈을 하지 않는다.

In [5]:
profile("유재석",20,"Python","Java","C","C++","C#")
profile("김태호",20,"Kotlin","Swift"," "," "," ") 

#위 문장처럼 없어도 써 줘야하는 불편함이 있음.

이름: 유재석	나이: 20 이름: 김태호	나이: 20

In [ ]:
def profile(name,age, *language):
    print("이름: {0}\t나이: {1}".format(name,age),end=" ") # end= " " 사용 하면 줄바꿈을 하지 않는다.
    for lang in language:
        print(lang,end=" ")
    print()
     ##### 2:45:00 참고

# 지역변수, 전역변수

In [ ]:
#지역변수: 함수내에서만
gun=10
def checkpoint(soliders):
    gun- gun -soliders
    print("[함수 내] 남은 총: {0}".format(gun) )

In [6]:
#지역변수: 함수내에서만
gun=10
def checkpoint(soliders):
    gun=20
    gun- gun -soliders
    print("[함수 내] 남은 총: {0}".format(gun) )

print("전체 총: {0}".format(gun))
checkpoint(2) #2명이 경계 근무 나감

전체 총: 10
[함수 내] 남은 총: 20

In [8]:
#지역변수: 함수내에서만
gun=10
def checkpoint(soliders):
    global gun  #전역변수 gun 사용
    gun- gun -soliders
    print("[함수 내] 남은 총: {0}".format(gun) )

print("전체 총: {0}".format(gun))
checkpoint(2) #2명이 경계 근무 나감

전체 총: 10
[함수 내] 남은 총: 10

# 퀴즈

In [10]:
weight= 0
def std_weight (height,gender):
    global weight
    if gender == "남자":
        weight=(height/100*height/100)*22
        print("키 {0}cm {1}의 표준 체중은 {2}입니다.".format(height,gender,round(weight,2)))
    elif gender == "여자":
        weight=(height/100*height/100)*21
        print("키 {0}cm {1}의 표준 체중은 {2}입니다.".format(height,gender,round(weight,2)))
    else: Print("성별을 다시 입력하세요.")

In [13]:
std_weight(170,"남자")

키 170 남자의 표준 체중은 63.58입니다.

# 표준입출력

In [17]:
print("Python","Java",sep=" VS ")

Python VS Java

In [18]:
print("Python","Java",sep=" , ",end="?") #문자의 끝부분에 물음표를 달아달라.

Python , Java?